[Unit]
Description=Client Services

[Service]
Type=simple
ExecStart=/usr/local/bin/client-services --start_daemon
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target