[Unit]
Description=Copy keyfile from boot folder to NetworkManager folder
Before=network.target

[Service]
Type=oneshot
ExecStart=/sbin/network-manager-boot-keyfile.sh

[Install]
WantedBy=multi-user.target
WantedBy=network-online.target
